<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reg Form</title>
    <!-- already use static serve-->
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
    <div class="form">
      <h2> RESET PASSSWORD </h2>
      <form action="/changePassword" method="POST">
        <label for="username">User Name:</label>
        <input type="username" id="password" name="username"/>
        <label for="oldpassword">Old Password:</label>
        <input type="password" id="password" name="oldpassword"/>
        <label for="newpassword1">New Password:</label>
        <input type="password" id="password" name="newpassword1"/>
        <label for="newpassword2">Confirm New Password:</label>
        <input type="password" id="password" name="newpassword2"/>
        <!--&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="login">Login</a> -->
        <br>
        <br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset Password"/>
      </form>
    </div>
  </body>
</html>